# Node.js
node_modules/
.env

# Firebase
backend/config/serviceAccountKey.json
backend/config/serviceAccountKey.*.json

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# OS
.DS_Store
Thumbs.db

# その他
*.log
