# Node.js
node_modules/
.env
.env.docker

# Firebase
backend/config/serviceAccountKey.json
backend/config/serviceAccountKey.*.json
voice_message_app/android/app/google-services.json
voice_message_app/lib/firebase_options.dart

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# OS
.DS_Store
Thumbs.db

# その他
*.log
